*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100vw;
    height: 15vh;
    background-color: #A37A7A;
    display: flex;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
}


#logo { 
    width: 15vw;
    height: 15vh;
}

#icons {
    width: 10vw;
    justify-content: space-between;
}


#menu {
    width: 60vw;
    justify-content: space-around;
    display: inline-flex;
}

#icons li a img{
    width: 5vw;
    height: 5vh;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li {
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;
    font-size: 3vh;
}

li a:hover{
    color: white;
}

#secao-3{
    background-color: #b8a3a3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-items: center;
    background-color: #552828;
    border-radius: 2vw;
    height: 60vh;
    justify-content: space-around;
    color: white;
}




form input, textarea {
    font-size: 2vh;
    width: 18vw;
    padding: 1vw;
    color: black;
    border-radius: 1vw;
    border: none;
    background-color: #A37A7A;

}




form button{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #A37A7A;
    color: black;
    border-radius: 40%;
}
form button img{
    width: 30px;
}

